html, body {
    background-color: #000;
    color: #fff;
}

footer {
    border-top: 1px solid #333;
}

.text-serif {
    font-family: 'Noto Serif KR', 'Nanum Myeongjo', 'Times', serif;
    letter-spacing: -3px;
}

.text-shine {
    text-shadow: 0 0 10px white;
}

.text-yellow {
    color: $yellow;
}

.text-muted {
    color: rgba(250,250,250,0.6) !important;
}

.text-light {
    font-weight: 300;
}

.text-spell {
    font-family: "Comic Sans", cursive;
    letter-spacing: 0;
}

.btn-primary {
    color: #000;
    border-color: $primary-color;
    background-color: $primary-color;
    outline: none;
    &:hover, &:focus, &:active {
        border-color: darken($primary-color, 10%); 
        background-color: darken($primary-color, 10%);
        color: #000;
    }
}

.btn-outline-primary {
    color: $primary-color;
    border-color: $primary-color;
    outline: none;
    &:hover, &:focus, &:active {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #000;
    }
}

.ring {
    animation: spin 15s linear infinite;
}

.ring-2 {
    animation: spin 35s linear infinite;
}

@keyframes spin { 
    0% {
        -webkit-transform: rotate(0deg); 
        transform:rotate(0deg);
    }
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.wand {
    -webkit-clip-path: circle(121px);
    clip-path: circle(121px);
    // animation: slant 6s linear infinite both;
}

@keyframes slant {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0) translate(0, 0); 
        transform: rotate3d(0, 0, 1, 0) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate3d(0, 0, 1, 20deg) translate(-11px, 30px);
        transform: rotate3d(0, 0, 1, 20deg) translate(-11px, 30px);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0) translate(0, 0); 
        transform: rotate3d(0, 0, 1, 0) translate(0, 0);
    }
}

.blink {
    opacity: 0;
    animation: blink 6s linear infinite;
    &.delay-2 {
        animation-delay: 2s;
    }
    &.delay-4 {
        animation-delay: 4s;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    16% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.stack {
    width: 300px;
    height: 300px;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 0;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }
    .stack {
        width: 250px;
        height: 250px;
    }
    .justify-content-end .stack {
        margin-right: -24px;
    }
    h3 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .radio label:hover {
        color: #fff;
    }
}

.modal {
    color: #000;
}

$dsize: 160px;

.abilities {
    animation: float 3s ease 1s infinite;
    .diamond {
        padding: .5rem 1.5rem;
        transform: rotateZ(45deg);
        width: $dsize;
        height: $dsize;
        display: block;
        position: relative;
        outline: 1px solid rgba(250, 250, 250, 0.3);
        box-shadow: 0 0 ($dsize * 0.5) 3px rgb(255 255 255 / 30%), 
        inset 0 0 ($dsize * 0.25) #fff, 
        inset ($dsize * 0.1) 0 ($dsize * 0.4) $primary-color,
        inset ($dsize * -0.1) 0 ($dsize * 0.4) cyan, 
        inset ($dsize * 0.1) 0 ($dsize * 1.5) $primary-color, 
        inset ($dsize * -0.1) 0 ($dsize * 1.5) cyan;
        img {
            width: 60px;
            transform: rotateZ(-45deg);
            position: absolute;
            top: 30%;
            left: 30%;
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.radio {
    input {
        display: none;
    }
    label {
        display: inline-block;
        padding: 1.5em 5em;
        border-radius: 40px;
        font-weight: 500;
        transition: all .2s ease-in-out;
        color: rgba(250,250,250,0.6);
        border: 2px dashed rgba(250,250,250,0.2);
        background: none;
        position: relative;
        width: 100%;
        cursor: pointer;
    }
    input:checked ~ label {
        color: white;
        border: 2px solid white;
    }

}

.question-item {
    transition: opacity .3s ease-in-out;
    &.hide {
        opacity: 0;
    }
}
.quote {
    padding: 1rem;
    border: 1px solid #222;
}

.spell-image {
    img {
        width: 400px;
        max-width: 100%;
    }
}

.restart {
    cursor: pointer;
}

.icon-share {
    width: 60px;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
    img {
        border: 2px solid #efefef;
        border-radius: 50%;
        width: 100%;
    }
}

.text-normal {
    font-weight: 400;
}